<h2>{{projectToDisplay?.title}}</h2>
<h2>Goal: ${{projectToDisplay?.goal}}</h2>
<h2>Amount Raised: ${{projectToDisplay?.status}}</h2>

<div class="fund-me-form">
  <label>Fund This Project: $</label>
  <input #valueToAdd>
  <button (click)="beginUpdatingStatus(valueToAdd.value); valueToAdd.value='' ">Submit</button>
</div>

<h3>Countdown: {{projectToDisplay?.deadline}} days!</h3>
<p>Description: {{projectToDisplay?.description}}</p>
<p>Creator: {{projectToDisplay?.creator}}</p>
<p>Category: {{projectToDisplay?.category}}</p>


<div *ngIf="projectToDisplay">
  <app-edit-project [selectedProject]="projectToDisplay" ></app-edit-project>
</div>
